<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="api.utilities.BasicExtentReportClass"></listener>
</listeners>
  <test thread-count="5" name="RestAssuredXML">
    <classes>
      <!--  <class name="RestAssuredTesting.AuthorizationDeleteDemo"/>
      <class name="RestAssuredTesting.BasicGetAuthorization"/>
      <class name="RestAssuredTesting.Test_PostMethod"/>
      <class name="RestAssuredTesting.Test_GetMethod"/>
      <class name="RestAssuredTesting.BasicPostAuthorization"/>
      <class name="RestAssuredTesting.Test_PatchMethod"/>
      <class name="RestAssuredTesting.Test_DeleteMethod"/>
      <class name="RestAssuredTesting.AuthorizationPostDemo"/>-->
      <class name="api.testcases.UserTestDD"/>
   <!--    <class name="RestAssuredTesting.DigestAuthentication"/>
      <class name="RestAssuredTesting.AuthorizationGetDemo"/>
      <class name="api.testcases.UserTest"/>
      <class name="RestAssuredTesting.Test_PutMethod"/>
      <class name="RestAssuredTesting.AuthorizationPutDemo"/>
      <class name="RestAssuredTesting.ClientAuthAuthentication"/>-->
    </classes>
  </test> <!-- RestAssuredXML -->
</suite> <!-- Suite -->
